.main-box{
    position: relative;
    width: 500px;
    height: 500px;
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid black;
    overflow: hidden;
}
span{
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}
.span1{
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: red;
    top: 120px;
    left: 0;
}
.span2{
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: blue;
    top: 120px;
    right: 0;
}
.span3{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: yellow;
    bottom: 0;
    left: 120px;
}
.span4{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: green;
    top: 0;
    left: 120px;
}
/* .span5{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: orange;
    top: 0;
    left: 120px;
} */