.main-box{
    width: 500px;
    height: 500px;
}
.main-box::after{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background: url('../../files/arrow.png');
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.box{
    transition: all ease 5s
}
span{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
span b{
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    position: absolute;
    top: 45%;
    right: 70%;
}
.spin{
    transform: translate(-50%, -50%);
}
.spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
}
.span1{
   clip-path: polygon(0 100%, 50% 50%, 0 0);

}
 .span2{
    clip-path: polygon(0 100%, 50% 50%, 0 0);

}
.span3{
    clip-path: polygon(0 100%, 50% 50%, 0 0);
}
.span4{
    clip-path: polygon(0 100%, 50% 50%, 0 0);
} 