.main-box{
    position: relative;
    width: 500px;
    height: 500px;
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid black;
    overflow: hidden;
}
span{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
.span1{
   background-color: blueviolet;
   clip-path: polygon(0 100%, 50% 50%, 0 0);

}
 .span2{
    background-color: rgb(226, 49, 43);
   clip-path: polygon(0 100%, 50% 50%, 0 0);

}
.span3{
    background-color: yellow;
    clip-path: polygon(0 100%, 50% 50%, 0 0);
}
.span4{
    background-color: green;
    clip-path: polygon(0 100%, 50% 50%, 0 0);
} 